@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;700&family=Montserrat&display=swap");

body {
    background-color: #f0f0f0;
}

/* header  */
header {
    background-color: black;
}

.nav {
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.account-online {
    width: 1rem;
    height: 1rem;
    background-color: #ff6161;
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
    padding-right: 2rem;
    padding-left: 2rem;
}
.account-online:hover {
  background-color: #c6c6c6;
  
}

.logo {
    width: 7.032rem;
    height: 5.15rem;
    display: flex;
    align-self: center;
}

.continent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.continent-u {
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
}
.continent-u:hover {
color: #ff6161;
} 

/* box  */
.box {
    display: flex;
    flex-wrap: wrap;
    font-family: "Montserrat", sans-serif;
    justify-content: center;
    margin-top: 2rem;
}

/* kebumen */
.kebumen {
    background-color: #ffffff;
    margin-left: 0.625rem;
    margin-right: 0.625rem;
    width: 36.375rem;
    height: 26.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 5px 5px 5px #9999991e;
}

.kebumen-title {
    font-weight: bold;
    padding-left: 1rem;
    margin: 0;
}

.kebumen-pays {
    color: #999999;
    font-size: 0.875rem;
    font-weight: bold;
    padding-left: 1rem;
}

@media screen and (min-width: 600px) {
    .kebumen-img {
        width: 582px;
        height: 300px;
    }
}

@media screen and (max-width: 600px) {
    .kebumen-img {
        width: 276px;
        height: 155px;
    }
}

@media screen and (min-width:600px) {
    .kebumen-title {
        font-size: 1.875rem;
    }
}

@media screen and (max-width:600px) {
    .kebumen-title {
        font-size: 1.125rem;
    }
}

/* San Francisco  */
.san-francisco {
    background-color: #ffffff;
    width: 17.25rem;
    height: 26.25rem;
    margin-left: 0.625rem;
    margin-right: 0.625rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 5px 5px 5px #9999991e;
}

.san-francisco-title {
    font-size: 1.125rem;
    font-weight: bold;
    padding-left: 1rem;
    padding-right: 1rem;
}

.san-francisco-pays {
    color: #999999;
    font-size: 0.875rem;
    font-weight: bold;
    display: flex;
    padding-left: 1rem;
    padding-right: 1rem;
}

.san-francisco-text {
    font-size: 0.875rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

/* Rio  */
.janeiro {
    background-color: #ffffff;
    width: 17.25rem;
    height: 26.25rem;
    margin-left: 0.625rem;
    margin-right: 0.625rem;
    box-shadow: 5px 5px 5px #9999991e;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.janeiro-title {
    font-size: 1.125rem;
    font-weight: bold;
    padding-left: 1rem;
    padding-right: 1rem;
}

.janeiro-pays {
    color: #999999;
    font-size: 14px;
    font-weight: bold;
    padding-left: 1rem;
    padding-right: 1rem;
}

.janeiro-text {
    font-size: 0.875rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

/* Kenya  */
.kenya {
    background-color: #ffffff;
    width: 17.25rem;
    height: 26.25rem;
    margin-left: 0.625rem;
    margin-right: 0.625rem;
    box-shadow: 5px 5px 5px #9999991e;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.kenya-title {
    font-size: 1.125rem;
    font-weight: bold;
    padding-left: 1rem;
    padding-right: 1rem;
}

.kenya-pays {
    color: #999999;
    font-size: 0.875rem;
    font-weight: bold;
    padding-left: 1rem;
    padding-right: 1rem;
}

.kenya-text {
    font-size: 0.875rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

/* Mont Fuji  */
.fuji {
    background-color: #ffffff;
    width: 17.25rem;
    height: 26.25rem;
    margin-left: 0.625rem;
    margin-right: 0.625rem;
    box-shadow: 5px 5px 5px #9999991e;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fuji-title {
    font-size: 1.125rem;
    font-weight: bold;
    padding-left: 1rem;
    padding-right: 1rem;
}

.fuji-pays {
    color: #999999;
    font-size: 0.875rem;
    font-weight: bold;
    padding-left: 1rem;
    padding-right: 1rem;
}

.fuji-text {
    font-size: 0.875rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

/* Prague  */
.prague {
    background-color: #ffffff;
    width: 17.25rem;
    height: 26.25rem;
    margin-left: 0.625rem;
    margin-right: 0.625rem;
    box-shadow: 5px 5px 5px #9999991e;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.prague-title {
    font-size: 1.125rem;
    font-weight: bold;
    padding-left: 1rem;
    padding-right: 1rem;
}

.prague-pays {
    color: #999999;
    font-size: 0.875rem;
    font-weight: bold;
    padding-left: 1rem;
    padding-right: 1rem;
}

.prague-text {
    font-size: 0.875rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

/* Londres  */
.londres {
    background-color: #ffffff;
    width: 17.25rem;
    height: 26.25rem;
    margin-left: 0.625rem;
    margin-right: 0.625rem;
    box-shadow: 5px 5px 5px #9999991e;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.londres-title {
    font-size: 1.125rem;
    font-weight: bold;
    padding-left: 1rem;
    padding-right: 1rem;
}

.londres-pays {
    color: #999999;
    font-size: 0.875rem;
    font-weight: bold;
    padding-left: 1rem;
    padding-right: 1rem;
}

.londres-text {
  font-size: 0.875rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* footer  */
footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-top: 5rem;
  
}
/* travel  */
.travel {
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-right: 3rem;
  padding-left:3rem ;
  font-size: 0.75rem;
  text-align: center;
  background-color: #313131;
  font-family: "Montserrat", sans-serif;
  align-self: center;
  
}
/* naviguer  */
.naviguer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-family: "Montserrat", sans-serif;
  width: 17.25rem;
  height: 14.25rem;
}
.naviguer-title {
  font-size: 1.5rem ;
  text-transform: none;
}
/* a propos  */
.a-propos {
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-family: "Montserrat", sans-serif;
}
.a-propos-title {
  font-size: 1.5rem ;
  text-transform: none;
}
/* blog  */
.blog {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  font-size: 0.75rem;
  font-family: "Montserrat", sans-serif;
}
.blog-title {
  font-size: 1.5rem ;
  font-weight: bold;
}
.hover:hover {
  color: #ff6161;
}
.reseaux {
  width: 2.5rem;
  height: 12.75rem; 
  display: flex;
  flex-direction: column; 
  position: fixed;
  background-color: white;
  padding: 0.5rem;
  box-shadow: 5px 5px 5px #9999991e;
  
}
.test {
  display: flex;
  justify-content: flex-end;
 
  
}
